<div class="emp-card">
    <img class="img-card" src="src/images/no-image.png">
    <div class="card-left">
        <a class="emp-name">Albertus Mahaputra</a><br>
        <a class="emp-info">SE-PG, CDC AsteRx<br>
                            Bali, +6281234567890</a>
    </div>
    <div class="card-right">
        <a class="emp-info">22 Aug 2015</a><br>
        <div class="card-right-icon">
            <md-icon svgIcon="radio_button_checked"></md-icon>
            <md-icon svgIcon="chevron_right"></md-icon>
        </div>
    </div>
</div>