<search-bar></search-bar>
<div class="scroll-bar-div">
    <!--This is ScrollBar-->
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    <employee></employee>
    
</div>
<button md-mini-fab class="floating-button"><md-icon svgIcon="add"></md-icon></button>