<div class="top-bar-div">
    <div class="left-search-menu">
        <button md-icon-button><md-icon svgIcon="search"></md-icon></button>
    </div>
    <md-input-container>
        <input mdInput placeholder="Search" value="">
    </md-input-container>
    <div class="search-chip">
        <md-chip-list>
            <md-chip>999999</md-chip>
        </md-chip-list>
    </div>
    <div class="right-search-menu">
        <button md-icon-button><md-icon svgIcon="sort_by_alpha"></md-icon></button>
        <button md-icon-button><md-icon svgIcon="filter_list"></md-icon></button>
    </div>
</div>