<div class="top-div">
  <button md-icon-button class="menu-button"><md-icon svgIcon="menu"></md-icon></button>
  <img class="user-img" src="src/images/no-image.png" width="40" height="40">
  <span>
    <div class="user-title">
      <a>Vernando</a> <br>
      <a>SE - JP</a>
    </div>
  </span>
  <span class="fill-remaining-space"></span>
  <div class="top-div-right">
    <button md-icon-button class="menu-button"><md-icon svgIcon="settings"></md-icon></button>
    <button md-icon-button class="menu-button"><md-icon svgIcon="power_settings_new"></md-icon></button>
  </div>
</div>

<div class="main-div">
  <div class="left-div">
    <list-employee></list-employee>
  </div>

  <div class="right-div">
    <navigator-bar></navigator-bar>
    <!--<detail-employee></detail-employee>-->
  </div>
</div>

<btn-svg></btn-svg>


<!--<md-toolbar color="primary">
  <span>(Menu)</span>
  <span>(Avatar)</span>
  <span>
    <div>
      <a class="user-title">Vernando</a> <br>
      <a class="user-title">SE - JP</a>
    </div>
  </span>
  <span class="fill-remaining-space"></span>
  <span>(Setting)/(Exit)</span>
</md-toolbar>

<div class="left-div">
  <div>
    <md-toolbar color="primary">Employee List</md-toolbar>
  </div>
  <button md-mini-fab class="floating-button"><md-icon>add</md-icon>+</button>
<div class="left-div-content">
  Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce vel in pellentesque. Nisl rutrum
  etiam morbi consectetuer tempor magna, aenean nullam nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor
  id wisi turpis magna aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna
  occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui sollicitudin, quis nisl
  massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper, urna ante
  nam et sagittis, tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien
  consectetuer. Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce vel in pellentesque.
  Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id, neque vivamus interdum sociis nulla scelerisque
  sem, dolor id wisi turpis magna aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor
  vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui sollicitudin,
  quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper,
  urna ante nam et sagittis, tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti
  dui, sapien consectetuer.
</div>
</div>
<div class="right-div"><button md-raised-button>Click me!</button></div>-->